@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  font-family: 'Merriweather', serif;
  background: #212121;
  color: #ffffff;
}

@import "components/_main-masthead";
@import "components/_main-footer";
@import "components/_header";
@import "components/_my-works";
@import "components/_about-contact";

@media (max-width: 1200px) {
}

@media (max-width: 480px) {
}

